section {
    padding: 70px 20px 40px 20px;
    text-align: center;
}

#mainNavbar {
    border-bottom: 5px solid #0197a7;
}

.btn-cyan {
    background-color: #0197a7;
}

.bg-cyan {
    background-color: #0197a7;
}
